.App {
  text-align: center;
}

.gitHub-link {
  left: 45%;
  right: 45%;
  right: auto;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  color: mediumslateblue;
  font: x-small;
  font-family: monospace;
}

.homepage-body {
  width: 70%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepage-search-container {
  background-color: #31112c;
}

.search-button {
  background-color: #31112c !important;
}

.homepage-logo {
  background: url("./blm-logo.svg") no-repeat;
  background-size: contain;
  position: fixed;
  top: 25%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.search-results-logo {
  background: url("./blm-logo.svg") no-repeat;
  background-size: contain;
  position: fixed;
  top: 10%;
  left: 53%;
  transform: translate(-50%, -50%);
}

.homepage-search-bar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
    min-height: 48px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.search-bar {
  display: flex;
  box-shadow: #31112c;
}

.search-result-box {
  width: 70%;
  position: fixed;
  top: 30%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.search-result-card {
  width: 50%;
  margin-top: 10px;
  border: none;
}

.search-result-button {
  background-color: #31112c !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
